#slider{:data => { :min => 1, :max => @last.id, :value => @last.id}}
#currentDate= "#{distance_of_time_in_words_to_now(@timestamp.created_at)} ago"
#links
  - @links.each do |link|
    .link
      .rank
        = "#{link.rank}. "
      %a.title{:href => link.href}= link.title
      %a.comments{:href => link.comments} Comments