!!!
%html
  %head
    %title HackerNewsTimeLapse
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom.css', :media => 'screen'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = csrf_meta_tag
      
    = javascript_include_tag 'jquery', 'jquery_ujs', 'jquery-ui-1.8.16.custom.min', 'application'
  %body.bp
    #container
      .header
        %a.logo{:href => "http://news.ycombinator.com"} Hacker News - Last 24 Hours
      = yield
      .footer